# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [2]:
x=3
x=float(x)
print(x)
print(type(x))

y=4.5
y=int(y)
print(y)
print(type(y))

z='8'
z=int(z)
print(z)
print(type(z))

a='12'
a=float(a)
print(a)
print(type(a))

b="46.8"
b=int(b)
print(b)
print(type(b))

3.0
<class 'float'>
4
<class 'int'>
8
<class 'int'>
12.0
<class 'float'>

ValueError: invalid literal for int() with base 10: '46.8'

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [10]:
eren=25
ezgi=12
berna=48

12<25
48>12
25<=48
25<48 and 25>12

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [ ]:
dogumyili=input("Dogum Yiliniz:")
yasiniz=input("Yasiniz:")

int(yasiniz)+int(dogumyili)

In [ ]:
int(yasiniz)-int(dogumyili)

In [ ]:
int(yasiniz)*int(dogumyili)

In [ ]:
int(yasiniz)/int(dogumyili)

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [ ]:
name=input("Name")

In [ ]:
age=input("Age")

In [4]:
city=input("City")

In [ ]:
job=input("Job")

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [ ]:
w="Hi-Kod"
a="Veri"
s="Bilimi"
d="Atölyesi"

In [ ]:
w="Hi-kod"
w.upper()

In [ ]:
a="Veri"
a.upper()

In [ ]:
s="Bilimi"
s.upper()

In [1]:
d="Atölyesi"
d.upper()

'ATÖLYESI'

In [ ]:
w="Hi-kod"
w.lower()

In [ ]:
a="Veri"
a.lower()

In [1]:
s="Bilimi"
s.lower()

'bilimi'

In [ ]:
d="Atölyesi"
d.lower()

In [1]:
list1 = [0,1,2,3,4,5,6,7,8,9] 
  
for num in list1: 
      
     
    if num % 2 == 0: 
       print(num, end = " ")
    elif:
    print(num,end="")

SyntaxError: invalid syntax (194148183.py, line 8)